<!DOCTYPE html>
<html dir="rtl">
    <head>
    <% include ../templates/head %>
    <link rel="stylesheet" type="text/css" href="/static/admin.css">
    <link rel="stylesheet" href="/static/table.css">
    <script>
        function classestablebutton_onclick(id) {
            $.post('/removeclass', {id})
            location.reload()
        }
        let currentMatch = null
        function viewconnectioncancel_onclick(key){
            $('#viewconnectionform').attr('hidden', 'true')
        }
        function studenttablebutton_onclick(key){
            updateView(key)
        }
        function updateView(key){
            matchdata = $.post("/matchdata", {key}, (data)=>{
                $('#student_name').text(data.name)
                $('#key').val(key)
                $('#teacher').val(data.teacher)
                $('#student-info').text(`כיתה: ${data.class}`)
                $('#description').val(data.desc)
                $('#active').val(data.active)
                if(data.active){
                    $('#active').attr('checked', 'true')
                }
                $('#viewconnectionform').removeAttr('hidden')
                currentMatch = data
            })
        }
        function viewconnectionsave_onclick(key){
            res = $.post("/editconnection", {key: currentMatch.id,  teacher: $('#teacher').text(), desc: $('#description').val(), })
        }
        function replaceActive() {
            for(let x of $("[key=active]")){
                if (x.innerHTML.trim() === '1'){
                //V
                    x.innerHTML = '✔️'
                } else if (x.innerHTML.trim() === '0') {
                //X
                    x.innerHTML = '❌'
                }
               
            }                                    
        }
        $(document).ready(replaceActive)
    </script>
    </head>
    <body>
    <div id="admin">
      <div class="modal fade" id="classestableModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
          <form action="/addclass" method="post">
            <div class="modal-header text-center">
              <h4 class="modal-title w-100 font-weight-bold">הוסף כיתה</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body mx-3">
              <div class="md-form mb-5 heb">
                <label for="classname">שם הכיתה</label>
                <input type="text" id="classname" class="form-control" name="name" minlength="2" maxlength="45" required>
              </div>
            </div>
            <div class="modal-footer d-flex justify-content-center">
              <button type="submit" class="btn btn-default">הוסף</button>
            </div>
            </form>
          </div>
        </div>
      </div>        
      <% include ../templates/navbar %>
      <div id="classesTable" class="divider container">
      <%- include('../templates/table', {tableid: "classestable", filter: true, headers: [["כיתה", "name"]], data: classes, button: true, button_text:'<i class="fas fa-times"></i>', radio: false, add: true}); %>
      
        </div>
        
      <div class="divider container">
      <%- include('../templates/table', {tableid: "studenttable", filter: true, headers: headers, data: matches, button: true, button_text: 'הצג', radio: false, add: false}); %>
        <div id="viewconnectionform" hidden>
            <%- include ../templates/viewconnection %>
        </div>
      </div>
    </div>
    </body>
</html>