<!DOCTYPE html>
<html>
<head>
    <% include ../templates/head %>
    <link rel="stylesheet" type="text/css" href="/static/register.css">
</head>
<body>
    <div class="container-fluid" id="register">
    <!-- <div class="row">
        <div class="col-12 filler"></div>
    </div> -->
    <div class="row justify-content-center" id="logo-row">
      <img class="logo " src="../assets/logo.png"><br>
    </div>
    <div class="row justify-content-center align-items-center">
      <div class="d-flex col-md-4 justify-content-center">
        <div class="login-backdrop shadow register-spacing">
          <form>
            <input type="button" class="btn btn-block btn-info" onclick="location.href='/registerS';" value="הירשם כתלמיד" />
            <input type="button" class="btn btn-block btn-info" onclick="location.href='/registerT';" value="הירשם כמורה" />
            <input type="button" class="btn btn-block btn-secondary" onclick="location.href='/login';" value="התחבר" />
          </form>
        </div>
      </div>
    </div>
    <!-- <div class="row">
        <div class="col-12 filler"></div>
    </div> -->
  </div>
</body>
</html>