<!DOCTYPE html>
<html>
    <head>
        <% include ../templates/head %>
        <link rel="stylesheet" href="/static/table.css">
        <script>
            function replaceActive() {
                for(let x of $("[key=active]")){
                    if (x.innerHTML.trim() === '1'){
                    //V
                        x.innerHTML = '✔️'
                    } else if (x.innerHTML.trim() === '0') {
                    //X
                        x.innerHTML = '❌'
                    }
                
                }                                    
            }
            $(document).ready(replaceActive)
        </script>
    </head>
    <body>
        <% include ../templates/navbar %>
        <div class="row justify-content-center table-title"><div class="col-md-3"><h2>טבלת התנדבות</h2></div></div>
        <%- include('../templates/table', {tableid: "subjecttable", headers: headers, data: matches, button: false, button_text:'', radio: false, add: false, filter: false}); %>
    </body>
</html>