<!DOCTYPE html>
<html>
    <head>
        <% include ../templates/head %>
        <link rel="stylesheet" href="/static/table.css">
    </head>
    <body>
        <% include ../templates/navbar %>
        <%- include('../templates/table', {tableid: "subjecttable", visible: "visible", headers: headers, data: matches, button: false, button_text:'', radio: false, add: false}); %>
    </body>
</html>