<!DOCTYPE html>
<html dir="rtl">
    <head>
        <% include ../templates/head %>
        <link rel="stylesheet" href="/static/viewconnection.css">
        <link rel="stylesheet" href="/static/table.css">
        <script>
        let currentMatch = null
        function viewconnectioncancel_onclick(key){
            $('#viewconnectionform').attr('hidden', 'true')
        }
        function studenttablebutton_onclick(key){
            updateView(key)
        }
        function updateView(key){
            matchdata = $.post("/matchdata", {key}, (data)=>{
                $('#viewconnection_student_name').text(data.name)
                $('#viewconnection_key').val(key)
                $('#viewconnection_teacher').val(data.teacher)
                $('#viewconnection_student-info').text(`כיתה: ${data.class}`)
                $('#viewconnection_description').val(data.desc)
                $('#viewconnection_active').val(data.active)
                if(data.active){
                    $('#viewconnection_active').attr('checked', 'true')
                }
                $('#viewconnectionform').removeAttr('hidden')
                currentMatch = data
            })
        }
        function viewconnectionsave_onclick(){
            res = $.post("/editconnection", {
                key: $('#viewconnection_key').val(),
                teacher: $('#viewconnection_teacher').val(),
                desc: $('#viewconnection_description').val(),
                active:$('#viewconnection_active').val() 
            })
            location.reload()
        }
        function replaceActive() {
            for(let x of $("[key=active]")){
                if (x.innerHTML.trim() === '1'){
                //V
                    x.innerHTML = '✔️'
                } else if (x.innerHTML.trim() === '0') {
                //X
                    x.innerHTML = '❌'
                }
               
            }                                    
        }
        $(document).ready(replaceActive)
        </script>
    </head>
    <body>
        <div class="modal fade" id="studenttableModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form action="/addconnection" method="post">
                        <div class="modal-header text-center">
                            <h4 class="modal-title w-100 font-weight-bold">הוספת חיבור</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body mx-3">
                            <div class="form-group table-body heb">
                                <%- include('../templates/table', {tableid: "studentpicktable", headers: sheaders, data: students, button: false, button_text: '', radio: true, add: false, filter: true}); %>
                            </div>
                            <div class="form-group heb">
                                <label for="teacher">מורה</label>
                                <input type="text" class="form-control heb" id="addconnection_teacher" name="addconnection_teacher" placeholder="שם המורה (אם רלוונטי)" maxlength="255"/>
                            </div>
                                <div class="form-group heb">
                                <label for="desc">תיאור</label>
                                <textarea type="text" class="form-control heb" id="addconnection_desc" name="addconnection_desc" placeholder="תיאור קצר על מטרת הקשר (255 תווים)" maxlength="255"></textarea>
                            </div>
                            <div style="text-align:left;">
                                <button type="submit" class="btn btn-primary">אישור</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <% include ../templates/navbar %>
        <%- include('../templates/table', {tableid: "studenttable", filter: true, headers: headers, data: matches, button: true, button_text: 'הצג', radio: false, add: true}); %>
        <div id="viewconnectionform" hidden>
            <%- include ../templates/viewconnection %>
        </div>
    </body>
</html>