.container {
    margin-top: 10px;
}
.filter-btn {
    margin-bottom: 10px;
    float: right;
}
.responsive-table {
    text-align: center;
}
.table {
    background: white;
}
.table td{
    vertical-align: middle;
    max-width: 600px;
    word-wrap: break-word;
}
